@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: Poppins;
}

#about-header {
    height: 60vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    background: linear-gradient(45deg, #a798c8, #fffefe, #a8d1e4, #f1d1ee);
    background-size: 400% 400%; /* Adjust size to fit the animation */
    animation: color 9s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#about-header-box{
   max-width: 450px;
   line-height: 1.4rem;
   
   
    padding: 0.9rem;
}