@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Background gradient animation  */
#background{
    
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #a290c9, #f8e5e5, #c2e0ee, #f1d1ee);
    background-size:300% 300%;
    animation: color 10s ease-in-out infinite;
  

}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}