@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: Poppins;
}

#about-header {
    height: 45vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    background: linear-gradient(45deg, #af9bdb, #a8dbf2, #f1d1ee);
    background-size: 400% 400%; /* Adjust size to fit the animation */
    animation: color 5s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#about-header-box{
   max-width: 450px;
   line-height: 1.4rem;
   
   
    padding: 0.9rem;
}

.about-image{
    width: 17rem;
    height: 9rem;
   
    
}
.about-card{
    width:22rem ;
    border-radius: 0.375rem;
    --tw-bg-opacity: 0.5;
    background-color: white;
    padding: 0.6rem;

   

}



.about-box-card-title{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight:600;

}
.about-card-top{
    background: rgb(243, 247, 251);
   padding: 2rem;
   
    border-radius: 0.375rem;
    
}
.about-card-main-text{
    color: grey;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#about-principles-card-container{
    max-width: 80rem;

}
#about-principles-section{
  
    margin-top: 8rem;
    background-color: grey;
    padding-bottom: 3rem;
    background: linear-gradient(45deg, #af9bdb, #a8dbf2, #f1d1ee);
    animation: color 5s ease-in-out infinite;
    background-size: 400% 400%; /* Adjust size to fit the animation */
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0% 100%);


    
}


.about-principles-card-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.2rem;

}
.about-principles-card{
    width: 20rem;
    padding:2rem;
    
}

